

<div class="container-fluid" id="header">
    <header>
        <div class="d-flex">
            <h4 class="mr-auto"> <img src="assets/img/logo.jpg" style="width:70px;height:70px; margin-top: 5px;" > WebTravel</h4>
            <div class="user">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle" aria-hidden="true"></i> User
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Change Password</a>
                  <a class="dropdown-item" href="#">Post</a>
                  <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sign Out</a>
                </div>
              </div>
        </div>
    </header>
</div>


<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-xl-4 col-md-3">
            <div class="sidebar">
                <div class="list-items">
                    <a class="list-item" [routerLink]="['/admin/users']" routerLinkActive="selected" >  <i class="fa fa-user-circle mr-2" aria-hidden="true"></i> Users </a>
                    <a class="list-item" [routerLink]="['/#']" routerLinkActive="router-link-active" > <i class="fa fa-clipboard mr-2" aria-hidden="true"></i> Post </a>
                    <a class="list-item" [routerLink]="['/#']" routerLinkActive="router-link-active" > <i class="fa fa-th mr-2" aria-hidden="true"> </i> Tien ich </a>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-md-9">
            <div class="page-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>